.footer {
    width: 100vw;
    height: 10vh;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.footer_item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.footer_item p {
    font-size: 12px;
    color: #6d6d6d;
    margin-top: 3px;
}
.footer_item img {
    width: 8vw;
    height: 8vw;
}
body {
    background-color: #f8f3f3;
}
section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 96%;
    margin: 0 auto;
    margin-bottom: 11vh;
}

.input {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    font-size: 12px;
    padding: 5px;
}
.input img {
    width: 4vw;
    height: 4vw;
    margin-left: 10px;
}
.input p {
    margin-left: 10px;
    color: #666666;
}
.toolbox {
    width: 100%;
    background-color: #fff;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 2px;
}
.tool {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: #6d6d6d;
    width: 80%;
    margin: 0 auto;
}
.tool_price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.price_image {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
}
.price_image img {
    width: 5px;
    height: 5px;
}
.content_box {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.content {
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 48%;
    color: #666666;
    margin-top: 1rem;
}
.content_image {
    width: 100%;
}
.something_box {
    width: 100%;
}
.content_something {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: 10px auto;
}
.text {
    font-size: 12px;
    margin-top: 5px;
}
.price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 15px;
}
.price_price {
    color: #ff7302;
    font-weight: bolder;
}
.tip {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}
.tip p {
    color: #999999;
    font-size: 12px;
}
.tip img {
    width: 15px;
    height: 15px;
}
