.imgwh {
    width: 15px;
    height: 15px;
}
.footer {
    width: 100vw;
    height: 10vh;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.footer_item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}
.footer_item p {
    font-size: 12px;
    color: #6d6d6d;
    margin-top: 3px;
}
.footer_item img {
    width: 8vw;
    height: 8vw;
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 16vh;
    width: 100vw;
    background: linear-gradient(to bottom, #0683bc, #aae0f9);
    z-index: 999;
}
.header_title {
    height: 8vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin: 0 auto;
}
.header_title_left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.header_title_left img {
    margin-left: 1rem;
}
.header_title_left p {
    font-weight: bolder;
    color: #ffffff;
}
.header_title_right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
.like {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ffffff;
    padding: 0px 3px;
    border-radius: 5px;
    color: #ffffff;
}
.like p {
    margin-left: 2px;
}
.headerbox {
    /* margin-top: 16vh; */
    display: none;
}
.swiperbox {
    margin-top: 16vh;
}
.input {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 94%;
    margin: 0 auto;
    background-color: #c8e1ed;
    border-radius: 10px;
    padding: 3px 0px;
}
.input img {
    width: 15px;
    height: auto;
    margin-left: 10px;
}
.input p {
    font-size: 12px;
    color: #fff;
    margin-left: 10px;
}
.header_list {
    height: 8vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}
.search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #c8e1ed;
    border-radius: 10px;
    padding: 2px 15px;
}
.section_home {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.home_content_imagebox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}
.home_content_imagebox img {
    width: 8px;
    height: auto;
}
.home_content_imagebox p {
    color: #66a3d0;
    font-size: 13px;
    font-weight: bolder;
    margin: 0px 15px;
}
.home_goods {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.home_goods_item {
    width: 47%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding-bottom: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
}
.home_goods_item img {
    width: 100%;
    height: auto;
}
.goods_item_title {
    font-size: 12px;
    width: 94%;
}
.goods_item_price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin-top: 5px;
}
.price_price {
    color: #ff7800;
    font-size: 12px;
}
.price_number {
    color: #666;
    font-size: 10px;
}
.home_barbox {
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 94%;
    margin: 0 auto;
    padding: 1rem 0px;
    border-radius: 10px;
}
.home_barbox_item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.home_barbox_item img {
    background: linear-gradient(to right, #0683bc, #aae0f9);
    width: 2rem;
    height: auto;
    padding: 7px;
    border-radius: 10px;
}
.home_barbox_item p {
    font-size: 12px;
    margin-top: 1rem;
}
.search p {
    margin-left: 5px;
}
.borderbom {
    border-bottom: 1px solid #ffffff;
}
.header_list_option {
    padding: 2px;
}
section {
    margin-top: 16vh;
    margin-bottom: 11vh;
    display: none;
}
/* 捐助 */
.section_donate {
    background-color: #f5f5f4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.section_donate_box {
    width: 96%;
    margin: 0 auto;
    padding-top: 20px;
}
.box_left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
    width: 48%;
}

.box_left img {
    width: 100%;
    height: 35vw;
}
.box_content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 5px 0px 0px 2px;
}
.box_content .options p {
    display: inline-block;
    font-size: 1rem;
    color: #7a7a7a;
}
.options_left {
    text-align: justify;
    width: 50px;
}
.box_more {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 100%;
    margin: 5px 3px 3px 0px;
}
.box_more p {
    font-size: 12px;
    color: #3fa3d1;
    margin-right: 5px;
}
/* 活动 */
.section_party {
    background-color: #f5f5f4;
    flex-flow: column nowrap;
}
.section_party_optioncard {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}
.section_party_optioncard p {
    color: #0099cc;
    background-color: #fff;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 10px;
}
.hover {
    color: #fff !important;
    background-color: #0099cc !important;
}

.section_party_box {
    width: 96%;
    margin: 0 auto;
    padding-top: 4px;
    display: none;
}
.section_party_box_content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.section_party_box_content img {
    width: 100%;
}
.section_party_box_content p {
    color: #666666;
    font-size: 1rem;
    margin-top: 10px;
}
/* 视频 */
.section_video {
    background-color: #f5f5f4;
}
.section_video_box {
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.section_video_box_content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 49%;
}
.imgbox {
    position: relative;
}
.playbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
}
.img {
    width: 100%;
}
.section_video_box_content p {
    color: #666666;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}
.message {
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 25vh;
    display: none;
    background-color: #fff;
    border: 1px solid #666666;
}
.message_title {
    font-size: 14px;
}
.message_btn {
    width: 60%;
    font-size: 12px;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    background-color: #ff7800;
    color: #fff;
}
.section_home_indeximage {
    width: 100vw;
    height: 150px;
}
.swiper-container {
    height: 150px;
}
.swiper-slide img {
    width: 100%;
    height: 150px;
}
