body {
    background-color: #f5f5f4;
}
header {
    height: 8vh;
    background-color: #3fa3d1;
}
.headerbox img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0px, -50%);
}
.headerbox {
    overflow: hidden;
    width: 92%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.titlea {
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.list {
    width: 94%;
    margin: 0 auto;
    margin-top: 1rem;
}
.item_title {
    width: 94%;
    padding: 5px 3%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.item_title_left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.item_title_left img {
    width: 15px;
    height: 15px;
}
.item_title_left p {
    margin-left: 5px;
    color: #3fa3d1;
    font-size: 12px;
}
.item_title_right {
    width: 7px;
    height: 10px;
}
.item_content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
}
.item_content_side_left {
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.item_content_side_right {
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}
.item_content {
    border-radius: 10px;
    background-color: #fff;
    margin-top: 2px;
    padding: 10px 0px;
}
.side_top_left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.side_top_right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.side_bom {
    background-color: #3fa3d1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.left {
    height: 80px;
}
.mid {
    height: 100px;
}
.right {
    height: 60px;
}
.side_bom img {
    width: 25px;
    height: 30px;
    padding: 10px 1rem;
}
.item_content_mid {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.mid_top {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.side_top_rank {
    width: 30px;
    height: 30px;
    padding: 10px 1rem;
}
.mid_top_rank {
    width: 30px;
    height: 30px;
    padding: 10px 1rem;
}
.top_name {
    color: #3fa3d1;
    font-size: 12px;
}
/* content */
.content {
    width: 92%;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: #fff;
    padding: 10px 2%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.item {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.3rem;
}
.item_left {
    font-size: 15px;
    width: 50%;
}
.item_left p {
    display: inline-block;
}
.num {
    padding: 3px;
    background-color: #fbcc44;
    color: #fff;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    height: 15px;
    width: 15px;
}
.name {
    color: #3fa3d1;
    margin-left: 1rem;
}
.item_right {
    width: 50%;
    color: #3fa3d1;
    font-size: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.bottom {
    width: 100%;
    text-align: center;
    margin: 2rem 0px;
    color: #666666;
    font-size: 12px;
}
